/* BODY*/

.reaper {
    background-color: #96897b;
    border-style: none;
    padding: .50em 1.3em;
    border-radius: 25px;
    font-size: 1em;
    color: #ffd686;
    cursor: pointer;
}


img{
    padding: .4em;
    width: 9em;
    border: 1px solid #d2691e;
    border-radius: .25em;
}


section {
    height: 333px;
    width: 450px;
    background-color: lightgray;
    background-size: contain;
}

