/* Topic 5 */

h3{
    color: #8b0000;
    font-size: 1.4em;
    margin-top: 1.5em;
}

p{
    color: #000000;
    font-size: 1.2em;
}

div#flex{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
}

form{
    margin: 0 0 1.3em;
}

fieldset{
    width: 20em;
    border-style: groove;

}

legend{
    font-size: 1.2em;
    color: #8b0000;
    border-style: groove;
}

label{
    display: inline-block;
    width: 5em;
    color: #8b0000;
    font-size: 1.3em;
}

input{
    padding: .7em;
    width: 9em;
    text-align: center;
    border-radius: 15px 0px 15px 0px;
    border-style: none;
    font-size: 1.1em;
    margin: .5em 0 0 .5em;
    color: #8b0000;
}

input[type=text]:focus {
    background-color: lightcyan;
}

.action {
    background-color: rgba(0,0,0,0.9);
    border-style: none;
    padding: .65em 1.3em;
    border-radius: 0px 15px 0px 15px;
    font-size: 1em;
    color: #ffd686;
    cursor: pointer;
}
